!!!
%html{html_attrs('en')}
  %head
    %meta{'http-equiv' => 'content-type', 'content' => 'text/html;charset=UTF-8'}
    %link{:rel => "stylesheet", :href => "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"}
    %link{:rel => "stylesheet", :href => "css/ui-progress-bar.css"}
    %script{:src => "js/vendor/prototype.js", :type => "text/javascript"}
    -#%script{:src => "js/vendor/scriptaculous.js", :type => "text/javascript"}
    %script{:src => "js/grist.js", :type => "text/javascript"}
    %title Grist.
  %body{:style=>"padding-top: 40px;"}
    .topbar
      .topbar-inner
        .container
          %a.brand
            Grist
          .pull-right
            %form
              %input.span6{:type => "text", :placeholder => "Search", :disabled => "disabled"}
            %ul.nav
              %li
                %a{:href => "/logout"}
                  Sign out
    .row
      &nbsp;
    .container#initial_fetch{:style => "display:none;"}
      .alert-message.block-message.info
        .row
          .span10.offset3
            %center
              %h3
                Please wait while Grist fetches your Gist information from GitHub.
              %img{:src => "images/ajax-loader-info.gif"}
        %br
    
