.container
  %dl
    - for result in @results
      %dt
        #{result.values[:id]}
        %dd= result.values[:filename]
        %dd= result.match
        %dd
          %pre= h result.values[:content]
