%header
  %center
    .inner
      .container
        %h1
          Hello, #{github_user.name}.
          %small
            You have #{gists.length} gists.
.container
  %dl
    - for gist in gists
      %dt
        #{gist.id}
        - for file in gist.files
          %dd= file
